@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.6rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

h2 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 32px);

  //width: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        &.YouTube {
          color: lighten(rgb(190, 0, 0), 20);
        }

        &.Twitch {
          color: lighten(rgb(134, 5, 255), 20);
        }

        &.Twitter {
          color: $secondary-color;
        }
        //color: $secondary-color;
      }
      @include easeOut();
    }
  }

  &#home {
    min-height: 0;
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.lightenOnHover {
  &:hover {
    &.YouTube {
      color: lighten(rgb(190, 0, 0), 20);
    }

    &.Twitch {
      color: lighten(rgb(134, 5, 255), 20);
    }

    &.Twitter {
      color: lighten(rgb(5, 197, 255), 30);
    }
  }

  &.YouTube {
    color: rgb(190, 0, 0);
  }

  &.Twitch {
    color: rgb(134, 5, 255);
  }

  &.Twitter {
    color: rgb(5, 197, 255);
  }
}

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: 290px 1fr 1fr;
  grid-column-gap: 30px;
  background: $primary-color;

  .bio-image {
    float: left;
    grid-area: bioimage;
    margin-left: 27px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    overflow-wrap: break-word;
    grid-area: bio;
    font-size: 1.5rem;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    max-width: calc(100vw - 64px);
    display: block;
  }
}

.contactParent {
  .contact {
    overflow-wrap: break-word;
    grid-area: bio;
    font-size: 1.5rem;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    max-width: calc(100vw - 64px);
    display: block;

    h3 {
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 0;
    }

    .Name {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 1.25rem;
    }

    .Bio {
      margin: 0;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 12px;
      margin-bottom: 10px;
      font-size: 1.25rem;
    }
  }
}

//Work/Projects
.projects {
  display: grid;

  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border-radius: 5%;
    border: 5px #fff solid;

    &.AnotherNap {
      border: 5px rgb(61, 153, 216) solid;
    }

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
    }
    @include easeOut;
  }

  .projectText {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.boxes {
  font-weight: 300;
  font-size: 1.5rem;
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: black;
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #000;
}

#main-footer {
  background: rgba(darken($primary-color, 10), 0.3);
  height: 32px;
  width: 100%;
  align-items: center;

  .footer-content {
    display: table;
    width: inherit;
    height: 100%;
  }

  .content {
    color: $secondary-color;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
}

@import "mobile";
